//Mixins
@mixin Hovering {
    color: chartreuse;
    transition: 0.3s;
    
}




* {
    margin: 0;
}
header {
    background-color: darkcyan;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    a {
        margin: 1em 1em ;
        color: aliceblue;
        text-decoration: none;
        &:hover {
            @include Hovering();
        }
    }
     nav li {
         display: inline-block;
        list-style: none;
        text-transform: uppercase;
        margin: 1em 1em;
    }
}